<?xml version="1.0"?>
<config>
	<global>
		<models>
            <matrixslider>
                <class>Sm_Matrixslider_Model</class>
            </matrixslider>
        </models>
		<blocks>
            <matrixslider>
                <class>Sm_Matrixslider_Block</class>
            </matrixslider>            		
        </blocks>				
		<helpers>
            <matrixslider>
                <class>Sm_Matrixslider_Helper</class>
            </matrixslider>
        </helpers>
        <resources>
        	<matrixslider_setup>
        		<setup>
        			<module>Sm_Matrixslider</module>
        		</setup>
        	</matrixslider_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<matrixslider>
                <use>standard</use>
                <args>
                    <module>Sm_Matrixslider</module>
                    <frontName>matrixslider</frontName>
                </args>
            </matrixslider>
        </routers>
		<layout>
            <updates>
                <matrixslider module="Sm_Matrixslider">
					<file>sm/matrixslider.xml</file>
                </matrixslider>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Sm_Matrixslider>
                     <files>
                          <default>Sm_Matrixslider.csv</default>
                     </files>
                </Sm_Matrixslider>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Sm_Matrixslider>
                     <files>
                          <default>Sm_Matrixslider.csv</default>
                     </files>
                </Sm_Matrixslider>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>										
										<matrixslider_cfg translate="title" module="matrixslider">
											<title>SM Matrixslider Settings</title>
										</matrixslider_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <matrixslider_cfg>
        	<general>
				<isenabled>1</isenabled>
				<product_links_target>_self</product_links_target>
				<nb_column0>6</nb_column0>
				<nb_column1>4</nb_column1>
				<nb_column2>3</nb_column2>
				<nb_column3>2</nb_column3>
				<nb_column4>1</nb_column4>
            </general>
            <product_selection>
            	<product_source>catalog</product_source>
				<product_category></product_category>
            	<product_order_by>position</product_order_by>
            	<product_order_dir>asc</product_order_dir>
            	<product_limitation>10</product_limitation>
            </product_selection>
			<product_display_setting>
				<product_title_disp>1</product_title_disp>
				<product_title_maxlength>20</product_title_maxlength>
				<product_description_disp>1</product_description_disp>
				<product_description_maxlength>50</product_description_maxlength>
				<product_image_width>199</product_image_width>
				<product_image_height>150</product_image_height>
				<product_price_disp>1</product_price_disp>
				<product_reviews_count>1</product_reviews_count>
				<product_readmore_disp>1</product_readmore_disp>
				<product_readmore_text>Details</product_readmore_text>
			</product_display_setting>
			<effect_setting>
				<eff_start>1</eff_start>
				<auto_play>1</auto_play>
				<interval>3000</interval>
				<speed>800</speed>
				<pause_hover>hover</pause_hover>
				<swipe_enable>1</swipe_enable>
				<easing>swing</easing>
			</effect_setting>
            <advanced>
            	<include_jquery>1</include_jquery>
            	<pretext></pretext>
            	<posttext></posttext>
            </advanced>
        </matrixslider_cfg>
    </default>
</config>