<?xml version="1.0"?>
<config>
	<global>
		<models>
            <responsivelisting>
                <class>Sm_Responsivelisting_Model</class>
            </responsivelisting>
        </models>
		<blocks>
            <responsivelisting>
                <class>Sm_Responsivelisting_Block</class>
            </responsivelisting>            		
        </blocks>				
		<helpers>
            <responsivelisting>
                <class>Sm_Responsivelisting_Helper</class>
            </responsivelisting>
        </helpers>
        <resources>
        	<responsivelisting_setup>
        		<setup>
        			<module>Sm_Responsivelisting</module>
        		</setup>
        	</responsivelisting_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<responsivelisting>
                <use>standard</use>
                <args>
                    <module>Sm_Responsivelisting</module>
                    <frontName>responsivelisting</frontName>
                </args>
            </responsivelisting>
        </routers>
		<layout>
            <updates>
                <responsivelisting module="Sm_Responsivelisting">
					<file>sm/responsivelisting.xml</file>
                </responsivelisting>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Sm_Responsivelisting>
                     <files>
                          <default>Sm_Responsivelisting.csv</default>
                     </files>
                </Sm_Responsivelisting>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Sm_Responsivelisting>
                     <files>
                          <default>Sm_Responsivelisting.csv</default>
                     </files>
                </Sm_Responsivelisting>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>										
										<responsivelisting_cfg translate="title" module="responsivelisting">
											<title>SM responsivelisting Settings</title>
										</responsivelisting_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <responsivelisting_cfg>
        	<general>
                <isenabled>1</isenabled>
                <title>SM Responsive Listing</title>
            </general>
			<module_setting>
				<nb_column1>6</nb_column1>
				<nb_column2>4</nb_column2>
				<nb_column3>2</nb_column3>
				<nb_column4>1</nb_column4>
				<sort_byform_display>1</sort_byform_display>
				<layout_select_display>1</layout_select_display>
				<default_view>1</default_view>
				<product_links_target>_self</product_links_target>
			</module_setting>			
            <product_selection>
            	<product_source>catalog</product_source>
            	<product_category></product_category>
				<catidpreload></catidpreload>
            	<product_ids></product_ids>
            	<product_order_by></product_order_by>
            	<product_order_dir></product_order_dir>
            	<product_limitation>6</product_limitation>
            </product_selection>
			<product_ordering>
				<itemsOrdering_display></itemsOrdering_display>
				<source_order_by></source_order_by>
			</product_ordering>
			<tabs_options>
				<tab_all_display>1</tab_all_display>
				<tal_max_characters>25</tal_max_characters>
				<count_items_display>1</count_items_display>
				<category_ordering>title</category_ordering>
			</tabs_options>
			<product_display_setting>
				<item_image_width>200</item_image_width>
				<item_image_height>200</item_image_height>
				<item_title_display>1</item_title_display>
				<item_title_max_characs>20</item_title_max_characs>
				<item_desc_display>1</item_desc_display>
				<item_desc_max_characs>150</item_desc_max_characs>
                <item_description_striptags>1</item_description_striptags>
                <item_description_keeptags></item_description_keeptags>
				<item_cat_display>1</item_cat_display>
				<item_price_disp>1</item_price_disp>
                <item_review_disp>1</item_review_disp>
				<item_readmore_display>1</item_readmore_display>
				<item_readmore_text>Details</item_readmore_text>
			</product_display_setting>
            <advanced>
            	<include_jquery>1</include_jquery>
            	<pretext></pretext>
            	<posttext></posttext>
            </advanced>
        </responsivelisting_cfg>
    </default>
</config>